body {
    margin: 0;
}

section {
    background-color: rgba(89, 130, 212, 0.7);
    max-width: 1520px;
    display: flex;
    align-items: center;
    margin: clamp(8px, 2vw, 48px);
    padding: clamp(8px, 2vw, 48px);
}


table,
th,
tr,
td {
    border: clamp(1px, 0.2vw, 4px) solid white;
    font-size: clamp(16px, 32px, 48px);
    text-align: start;
    padding-inline: clamp(8px, 4vw, 16px);
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgba(89, 130, 212, 0.5);
}

#bockwurst {
    background-color: rgba(89, 130, 212, 0.4);
}

#bratwurst {
    background-color: rgba(89, 130, 212, 0.3);
}

#currywurst {
    background-color: rgba(89, 130, 212, 0.2);
}